table:focus {
  outline: none;
}

tbody {
  cursor: pointer;
}

.navigation {
  margin-bottom: 10px;
}

.screen {
  display: flex;
  height: 100vh;
}

.screen__title {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 1.6rem;
  color: wheat;
}

.screen__subtitle {
  color: tomato;
}

.screen__content {
  margin: auto;
}

.screen__text {
  color: wheat;
}

.screen__link {
  color: wheat;
}

.screen__link:hover {
  color: tomato;
}

.screen__background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  z-index: -1;
}
